html {
   -ms-touch-action: none;  /* 阻止windows Phone 的默认触摸事件 */
}
body,
div,
p {
	margin: 0;
	padding: 0;
}
ul {
   list-style: none;
}
body {
	width: 100%;
   *cursor: default;
	overflow: hidden;
	font: 16px/1.5 "Microsoft YaHei",Helvetica,"STHeiti STXihei","Microsoft JhengHei",Arial;
	min-width: 1000px;
}
.ih-item .info p{
	font-style: normal !important;
}
.ih-item .info p{
	font-size: 14px !important;
}
#pageContain {
	overflow: hidden;
}
.page {
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	/*background-color: #7851DA;*/
}
.page .header{
	padding-left: 100px;
}
.contain {
	width: 100%;
	min-width: 1000px;
	height: 100%;
	display: none;
	position: relative;
	z-index: 0;
	padding-left: 2em;
	
	text-align: left; 
	color: #fff;
	z-index: 10;
	/*background: url(../img/bg.png) 0 0 repeat;*/
}
.contain p {margin: .2em 0;}

.current .contain,.slide .contain {
	display: block;
}
.current {
	display: block;
	z-index: 1;
}
.slide {
	display: block;
	z-index: 2;
}
.swipe {
   display: block;
   z-index: 3;
   transition-duration: 0ms !important;
   -webkit-transition-duration: 0ms !important;
}

/*侧边菜单*/
#menu { position: fixed; right: 20px; top: 50%; width: 90px; margin: -160px 0 0; padding: 0; list-style-type: none; z-index: 70;}
#menu li { margin-top: 10px; font: 14px "Microsoft Yahei";}
#menu a { 
	display: block; 
	padding: 10px 0; 
	background-color: 
	rgba(255,255,255,0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff,endColorstr=#b2ffffff); 
	color: #0074EA; 
	text-align: center; 
	text-decoration: none;
}
#menu a:hover{
	color: #fff; 
	background-color: rgba(0, 0, 0,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7000000,endColorstr=#7000000);  
	outline: none;
}
#menu .active a { 
	color: #fff; 
	background-color: rgba(0, 116, 234,0.5); 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#700074EA,endColorstr=#700074EA); 
	outline: none;
}

.intro-box{
	margin-left: 550px;
	min-width: 400px;
	max-width: 450px;
	font-size: 1.2rem;
}
.intro-box p {
	margin-bottom: 1.2em;

}
/*//flexSlider 幻灯片*/
.flex-direction-nav a.flex-next:before,.flex-direction-nav a.flex-prev:before{
	color:#6c45d8;
}

.flexslider{
	border: none;
}

.flexslider .slides > li{
	position: relative;
}
/*.page1,.page3,.page5{
	background-color: #37c1e3;
}*/

/*首页*/
.page1 .contain{padding: 0;}
.page1 .homeSlider{width: 100%;height: 100%;margin: 0;padding: 0;border: 0;overflow: hidden;}
.page1 .homeSlider::after{
	position: absolute;
	top: 0;left: 0;
	content: " ";
	width: 100%;height: 100%;
}
.page1 .homeSlider{background-size: cover;}
.page1 .homeSlider li{
	position: absolute;
	left: 0;top: 0;
	list-style: none;
	width: 100%;height: 100%;
}
.page1 .homeSlider img{
	width: 100%;height: 100%;
}
.page1 .screen-main{
	position: absolute;
	width: 100%;height: 100%;
	left: 0;top: 0;
	padding-top: 25%;
	padding-left: 10%;

	/*background-color: rgba(0,0,0,0.5);*/
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000);*/
}
.page1 .screen-main h1 {font-size: 3em;margin:.5em 0; font-weight: 100;}
.page1 .screen-main h2 {font-size: 2.3em;margin:.5em 0;}
.page1 .screen-main p  { margin-top: -0.5em;}
.page1 .screen-main span  {margin-right:  2em;}
.page1 .screen-main .logo{height: 2.1em;margin: 0 .5em .5em 0; vertical-align: middle;}

/*关于我们*/
.page2{
	background-image: url(../img/about/bg0.jpg);
}
.page2 .header{
	padding-right: 150px;
}
.page2 .intro {
	padding: 50px 150px 0 100px; 
	/*width: 900px;*/
	/*max-width: 1000px;*/
}
.page2 .intro li{
	display: inline-block; 
	width: 25%;
	height: auto;
	border-color: rgba(255,255,255,0.2);
}


/*山庄设施*/
.page3{
	background: url(../img/facility/bg.jpg) left top;
	background-size: 100%;

}
.page3 .img-list{
	list-style: none;
	padding-left: 100px;
	padding-right: 150px;
}
.page3 .img-list li{
	position: relative;
	width: 25%;
	height: 200px;
	overflow: hidden;
	float: left;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.page3  .caption {
	position: absolute;
	text-align: center;
  width: 96%;
  padding: 2%;
  margin: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7000000,endColorstr=#7000000);
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
}


/*推荐景点*/
.page4{
	/*color: #0074EA;*/
	/*background: #f0f;*/
	background: url(../img/scenic/bg.jpg);
	background-size: cover;
}
.scenic-box{
	min-width: 960px;
	padding-left: 100px;
	padding-right: 150px;
}
.scenic-box li{
	*display: inline;
	display: inline-block;
	width: 31%;
	/*width: 300px;*/
	margin: 10px;
	position: relative;
}
.scenic-box img{
	width: 100%;
	float: left;
}
.scenic-box .title{
	position: absolute;
	z-index: 1000;
	text-align: center;
	width: 100%;
	top:-80px;
}
.scenic-box .ih-item.square{
	border:none;
}


/*彩云风光*/
.page5{
	/*color: #0074EA;*/
	/*background: #f0f;*/
	/*background-image: url(../img/about/bg0.jpg) no-repeat 100%;*/
	/*background-size: cover;*/
	background: url(../img/caiyun/bg.jpg) no-repeat;
	background-size: 100% 100%;
}
.page5 .img-box{
	margin: 50px 10px 10px 10px;
}
.img-gallary{
	width: 1000px;
	margin:0 auto;
	/*height: 600px;*/
}
.img-gallary li{
	width: 300px;
	height: 169px;
	margin: 0;
	overflow: hidden;
	/*display: inline-block;*/
	float: left;
	position: relative;
}
.img-gallary img{
	height: 100%;
	cursor: pointer;
}
.img-gallary img:hover{
	opacity: 0.8;
}
/*/////////////////*/

.page6 .contain { 
	background: #fff;
	text-align: left; 
	color: #666;
	height: 100%;
/*	background: url(../img/contact/map.jpg) top center no-repeat;
	background-size: contain;*/
}
/*.contact-con { 
	width: 100%; 
	height: 450px; 
	margin: 0 auto; overflow: hidden; zoom: 1;
	background: url(http://7xis4f.com1.z0.glb.clouddn.com/map.jpg) top left no-repeat;
	background-size: contain;
}*/

#baiduMap{
	height: 400px;
	width:600px;
	margin-left: 100px;
	float: left;
}
.page6 .intro-box{
	margin-left: 720px;
	margin-right: 120px;
	font-size: 1em;
}


.page6 .footer { 
	/*margin-top: 100px; */
	line-height: 30px; color: #666; font-size: 12px; 
	text-align: center;background-color: #282828;
	position: absolute;
	bottom: 0;
	z-index: 1000;
	width: 100%;
}
.foot a { color: #0074EA;}