#menu { position: fixed; right: 20px; top: 50%; width: 90px; margin: -160px 0 0; padding: 0; list-style-type: none; z-index: 70;}
#menu li { margin-top: 10px; font: 14px "Microsoft Yahei";}
#menu a { display: block; padding: 10px 0; background-color: rgba(255,255,255,0.7); color: #0074EA; text-align: center; text-decoration: none;}
#menu a:hover{color: #fff; background-color: rgba(0, 0, 0,0.5); outline: none;}
#menu .active a { color: #fff; background-color: rgba(0, 116, 234,0.5); outline: none;}
.section { 
	text-align: left; 
	font: 16px "Microsoft Yahei"; 
	color: #fff;position: relative; z-index: 10;
	background-size: cover;	
}
.inner{padding: 20px 120px 0 80px; min-width: 800px;}
.inner p {margin: .2em 0;}
video {
	position: absolute;
	top: 0;left: 0;
	min-width: 100%;min-height: 100%;
	width: auto;height: auto;
	z-index: 1;
}
.section1 .homeSlider{width: 100%;height: 100%;margin: 0;padding: 0;border: 0;overflow: hidden;}
.section1 .homeSlider::after{
	position: absolute;
	top: 0;left: 0;
	content: " ";
	width: 100%;height: 100%;
	/*background-color: rgba(40,22,8,0.5);*/
}
.section1 .homeSlider{background-size: cover;}
.section1 .homeSlider li{
	background-size: cover;
	display: block;
	list-style: none;
	width: 100%;height: 100%;
}
.section1 .screen-main{
	position: absolute;
	top: 50%;
	left: 10%;
}
.section1 .screen-main h1 {font-size: 3em;margin:.5em 0; font-weight: 100;}
.section1 .screen-main h2 {font-size: 2.3em;margin:.5em 0;}
.section1 .screen-main p  { margin-top: -0.5em;}
.section1 .screen-main span  {margin-right:  2em;}
.section1 .screen-main .logo{height: 1.5em;margin: 0 .5em; vertical-align: middle;}

.section2 {
	/*color: #000;*/
	background-image: url(../img/about/bg0.jpg);
}
.intro {padding: 10px 0; /*width: 1000px;*/}
.intro li{
	display: inline-block; 
	/*width: 240px;*/
	height: 250px;
	border-color: rgba(255,255,255,0.2);
}

.section3 {
	color: #0074EA;
	/*background-image: url(../img/about/bg0.jpg);*/
}
/*周边景点*/
.section4{
	background-color: #fff;
	background-size: cover;
	background-image: url(../img/scenic/3.jpg) top center no-repeat;
	color: #0074EA;
}

.section5{
	background-color: #fff;
	background-size: cover;
	color: #0074EA;
}


.section6 .inner { 
	/*background: #fff;*/
	text-align: left; 
	color: #666;
/*	background: url(../img/contact/map.jpg) top center no-repeat;
	background-size: contain;*/
}
.contact-con { 
	width: 100%; 
	height: 450px; 
	margin: 0 auto; overflow: hidden; zoom: 1;
	background: url(http://7xis4f.com1.z0.glb.clouddn.com/map.jpg) top left no-repeat;
	background-size: contain;
}
/*.section6 .inner  { position: relative; width: 880px; margin: 0 auto 20px; font: 500 30px "Microsoft Yahei"; color: #856B37;}*/
.contact-con li{
	list-style: none;
	/*display: inline-block;*/
}
.footer { 
	/*margin-top: 100px; */
	line-height: 30px; color: #666; font-size: 12px; 
	text-align: center;background-color: #282828;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.foot a { color: #0074EA;}